.img {
    width: 500px;
}

.title

.silhouette {
    fill: black;
}

.container {
    border: white 2px solid;

    .questions {
      padding-bottom: 10px; 
    }

    .question {
        margin: 2px;
    }

    .game{
        display: inline;
    }
}
