.img {
    margin-top: 8px;
    width: inherit;
    background-color: white;
}

.silhouette {
    fill: black;
}

.game{
    width: 500px;
    height: 1000px;
}

.container {
    border: white 2px solid;


.questions {
    padding-bottom: 10px;
    border: white 2px solid;
}

.question {
    margin: 2px;
    border: white 2px solid;

}

}

.option {
    display: block;
    padding: 10px 0;
}

.option:nth-child(even) {
    background-color: #141414;
}
.option:nth-child(even):hover, .option:nth-child(odd):hover {
    background-color: red;
}

.option:nth-child(odd)  {
    background-color: #3f3e3e;
}