$pokemon_yellow: #ffee31;
$pokemon_blue: #3160B4;
$success: #28a745;
$fail: #ff0707;

$max-width: 1280px;

$font-family-fantasy: fantasy;


@mixin button-styles($width: 500px, $box-shadow-color: $pokemon_blue, $bg-color: #1a1a1a) {
    width: $width;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: $bg-color;
    cursor: pointer;
    transition: border-color 0.25s;
}

@mixin app_container{
    max-width: $max-width;
    padding: 2rem;
    color-scheme: light dark;
    background-color: black;
}