$pokemon_yellow: #ffee31;
$pokemon_blue: #3160B4;
$success: #28a745;
$fail: #ff0707;

@mixin button-styles($width: 500px, $box-shadow-color: $pokemon_blue, $bg-color: #1a1a1a) {
    width: $width;
    box-shadow: 5px 10px 8px $box-shadow-color;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: $bg-color;
    cursor: pointer;
    transition: border-color 0.25s;
}